body {
    font-family: tahoma;
    color:#282828;
    margin: 0px;
    background-image: url(/CSS/6a1a8724c5bb880ee1c1f3b50e69d425.jpg);
}

.kanban-board {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    
}

.board-column {
    margin-left: 125px;
    display: flex;
    flex-direction: column;
    border: 6px solid #dfbdbd;
    padding: 15px;
    background-color: #ff844c;
}

.add-task-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.add-task-form input,button,textarea{
    margin-top: 15px;
}

button {
    border-radius: 5px;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

  .task-card h3.overdue {
    color: red;
  }
  
  .task-card p.overdue {
    color: red;
  }
  
  .task-card p.on-time {
    color: green;
  }

  .task-card.found-task {
    border: 4px solid rgb(255, 153, 0); 
    border-radius: 5px;
    padding: 15px;
    box-shadow: 3px 3px 10px rgb(255, 123, 0);
  }



